body {
    font-family: Arial, sans-serif;
    background-image: url("alienspider.jpg");
    background-size: cover;
    background-position: center center;
    color: #00ff00;
    text-align: center;
    margin: 0;
    padding: 0;
}img {
    border-radius: 10%; /* This will make the border of the image completely round */
}

.container {
    text-align: center;
    padding: 50px; /* Add some padding for better readability */
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}